<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webcam App</title>
</head>

<body>
    <div>
        <h1>Prediction</h1>
        <p>Number of Predictions: {{ predicted_result }}</p>

    </div>
    <div>
        <img src="{{ url_for('static',filename='webcam.jpg') }}?{{ timestamp }}" alt="Webcam Image">
    </div>
    <div>
        <button type="button"><a href="{{ url_for('weather') }}" method="post"
                style="text-decoration: none;">Home</a></button>
    </div>
</body>

</html>